* text eol=lf

*.html text
*.css text
*.js text
*.xml text
*.md text
*.java text
.* text

character-creation/javascript/generated/* -diff
character-creation/package-lock.json -diff

*.png binary
*.jpg binary
*.ico binary
*.gif binary
