/* Copyright 2012 Google Inc. All Rights Reserved.
Um was I allowed to copy this? Because I did then stripped most of it out (like 90%).*/

/* ========Color reference========
official colors: https://www.w3.org/TR/css3-color/

These are all of the colors used:
white (for font color against dark background)
grey (for most borders)
black (for the huge stamp border)

darkred
pink (under red)

navajowhite (under orange. info-banner)

darkgreen
palegreen (under green)

darkblue
lightskyblue (under blue. used for alt table)
*/

/* ========Font reference========
body: font-size: 16px (default);
h1: font-size: 32px (default); red (for top level) or blue box. only used for page name (or for ones that should be page names)
h2: font-size: 28px; red underline. for extras also has red top border. used for main section
h3: font-size: 20px; black underline. used for sub section (including inside a red panel) or table name
left side bar: font-size: 12px;
*/

/* TODO: more css clean up
h1 should only be 1 per page
red-panel/green-panel should really have an h3 for their first element and be centered
bootstrap all
   breakpoints: https://getbootstrap.com/docs/4.1/layout/overview/
      use: https://www.webpagefx.com/tools/whats-my-browser-size/
      (xs): 0+ (min window 361px but chrome device screen emulator allows smaller)
         Nexus 5X: 412px width (555px height)
         Moto G7: 360px width (541px height)
      sm: 576px+
         mid: 672px
      md: 768px+
         mid: 880px
      lg: 992px+
         mid: 1096px
      xl: 1200px+ (1835px maximized window)
   convert point counter
      add a warning at the top saying that this doesn't work well on small screens
         hide for lg, xl
         Warning this page is confusing for small screens and inconvenient without a keyboard.
      why is calc (and most supers) pic on new row even xl?
      add headers and explanation for save/load
      textarea and input can be made style="width: 100%". power attack and mod text needs remaining width which I think is flex
         textarea rows/cols is em, I assume the same for input size
         already max: power text, skill text, advantages, not: mods any, power name/skill
   make sure nothing has fixed width/height (all are in CSS. recently added some px width in js)
make characters look like a character sheet (see M&M 3e)
printing
   https://stackoverflow.com/questions/16649943/css-to-set-a4-paper-size
   https://developer.mozilla.org/en-US/docs/Web/CSS/page-break-after
   it would be nice to be able to print condition cards (9 per page) and character sheets (somehow)
have point-counter switch between view and edit modes
   have all characters use view mode if possible
      the character page would have only an iframe with ?readonly=true (to disable edit) hide internal sidebar with hideSidebar=true
      could have a link below iframe with "open in point counter" like today
      hard part is that current super characters have a special form to fill
TOC: have all ids generated by js:
   document.getElementsByTagName('h1')[0].id=''
   same case, space: _, else: -
   Don't include TOC
   alert if there's a duplicate
   also see: https://css-tricks.com/automatic-table-of-contents/
   there's also a library for this:
      https://www.jqueryscript.net/menu/Sidebar-Table-Of-Contents-Generator-with-jQuery-and-Bootstrap-Bootstrap-Toc.html
         uses https://afeld.github.io/bootstrap-toc/
fancier sidebar: https://bootstrapious.com/p/bootstrap-sidebar#3-fixed-scrollable-sidebar-menu-with-a-content-overlay
single class sidebar (not sure about 'closed')
single class character sheet. Ignore the point counter at first.
probably don't: Write a script to inline classes that are only used once
*/

/**Telling everyone to stay within bounds seems like the right thing to do
although for some reason it prevents disabling the page's right margin (see below).*/
* {
   max-width: 100%;
   max-height: 100%;
}

body {
   line-height: 1.5;
}

/**This is to disable the page's right padding. Bootstrap requires container-fluid to exist.*/
body > div.container-fluid {
   padding-right: 0;
}

/**This is to disable the page's right margin.
For some reason max-width being set causes Chrome to ignore margin-right: 0*/
body > div.container-fluid > div.row {
   max-width: unset;
   margin-right: 0;
}

main {
   background: url("bg-top.gif") top repeat-x;
   padding-top: 50px;
   padding-bottom: 50px;
}

h1 {
   background-color: darkblue;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   color: white;
   margin: 0;
   padding: 10px;
   font-size: 32px;
   clear: both;  /*This can be removed (along with some id=) when h1 is only a page header*/
}

/**This is only applied to h1 at the top of page and only for index.html.
An index.html that is the only html (deeply) in a folder is considered a leaf (blue)
h1 that is not at the top of page is considered a leaf (blue)
site-map.html is considered the folder of the website (red)
*/
.page-header-folder {
   background-color: darkred;
}

h2 {
   color: darkred;
   font-size: 28px;
   margin: 0;
   text-decoration: underline;
}

h3 {
   font-size: 20px;
   margin: 0;
   text-decoration: underline;
}

/**Used for h2 Extras, Free Modifiers, and Flaws on power pages*/
.power-modifier-header {
   border-bottom: solid thin darkred;
   border-top: solid thin darkred;
   text-decoration: none;
}

/**All of them are h3*/
.table-name {
   color: darkblue;
   margin: 10px 0 10px 0;
}

a:link, a:visited {
   /*Need to also have :visited so that the browser won't blue shift the color*/
   color: darkred;
   font-weight: bold;
   text-decoration: none;
}

a:hover,a:active {
   text-decoration: underline;
}

hr {
   border: 0;
   border-bottom: 1px dotted darkred;
   height: 3px;
}

ul li {
   list-style-position: outside;
   list-style-type: square;
}

ol.legal-document > li {
   list-style-type: decimal;
}

ol.legal-document > li > ol > li {
   list-style-type: lower-alpha;
}

.sites-sidebar-nav li, .external-links li {
   list-style: none;
   list-style-image: none;
}

.sites-sidebar-nav .expander {
   background: url("../images/arrow-down.gif") no-repeat;
   float: left;
   height: 11px;
   margin: 3px 0 0 4px;
   padding: 0 2px;
   width: 11px;
}

/*If you want to replace the arrows with unicode:
http://stackoverflow.com/questions/2701192/ascii-character-for-up-down-triangle-arrow-to-display-in-html/6325076#6325076
but you'd have to mess with font size and getting them to fit on one line

U+25B6 (Black right-pointing triangle ▶)
U+25BC (Black down-pointing triangle ▼)
U+25B7 (White right-pointing triangle ▷)
U+25BD (White down-pointing triangle ▽)
U+25B8 (Black right-pointing small triangle ▸)
U+25BE (Black down-pointing small triangle ▾)
U+25B9 (White right-pointing small triangle ▹)
U+25BF (White down-pointing small triangle ▿)
*/

.sites-sidebar-nav .expander.collapsed {
   background: url("../images/arrow-left.gif") no-repeat;
}

.sites-sidebar-nav {
   border-bottom: 0;
   padding-bottom: 0;
}

.sites-sidebar-nav ul, .external-links {
   margin: 0;
   padding: 0;
}

.sites-sidebar-nav .closed ul {
   display: none;
}

.sites-sidebar-nav .current-bg {
   background-color: darkred;
   color: white;
   font-weight: bold;
}

.sites-sidebar-nav .topLevel {
   border-top: 1px grey dotted;
}

.sites-sidebar-nav .nav-first {
   border-top-width: 0;
}

ol.goog-toc {
   list-style: none;
   margin-left: 10px;
   padding-left: 0;
}

div.goog-toc {
   background: url("bg-pattern.gif") repeat;
   border: 1px solid grey;
}

div.goog-toc p {
   font-size: 16px;
   font-weight: bold;
   margin: 0;
   padding: 3px 5px 0;
}

.sites-embed-align-left-wrapping-on {
   float: left;
   margin: 5px 20px 5px 0;
}

.sites-layout-sidebar-left {
   background: url("bg-pattern.gif") repeat;
   padding: 0;
   width: 170px;
   font-size: 12px;
}

.sites-embed-content-sidebar-textbox {
   padding: 5px;
}

.sites-layout-sidebar-left h2 {
   border-bottom: 1px dotted darkred;
   font-size: 16px;
}

.sites-sidebar-nav {
   display: block
}

/* Extra small and Small devices*/
@media (max-width: 767px) {
   #top-nav:not(.collapse) {
      display: none
   }
}

/* Medium+ devices*/
@media (min-width: 768px) {
   /*this is used to show the element despite not having .show*/
   #top-nav.collapse {
      display: block
   }

   @supports (position:sticky) {
      .sites-layout-sidebar-left {
         position: sticky;
         top: 0;
         height: 100vh;
      }

      #top-nav {
         max-height: calc(100vh - 3.5rem);
         overflow-y: auto
      }
   }
}

img {
   max-height: 50vh;
   max-width: 100%;
}

.graph-row > img {
   min-width: 300px;
   max-width: 100%;
   max-height: none;
}

.graph-row > div {
   display: inline-block;
   vertical-align: top;  /*This is here for what seems to be a bug: without it the height of graph-row is larger than it should be.*/
}

.table-alt-rows {
   margin: 10px;
}

.table-alt-rows td {
   text-align: center;
}

td {
   vertical-align: top;
}

/*All th are under .table-alt-rows*/
th {
   background: url("bg-pattern.gif") repeat;
   padding: 3px 5px 5px;
   text-align: center;
   vertical-align: top;
}

.table-alt-rows tr:nth-child(even) {
   background-color: lightskyblue;
}

.table-alt-rows,.table-alt-rows th,.table-alt-rows td {
   border-collapse: collapse;
   border: 1px inset grey;
}

.table-alt-rows .blue-top-th {
   border-top: 8px solid darkblue;
}

.stamp-top, .stamp-middle, .stamp-bottom {
   border: solid black 5px;
   font-weight: bold;
   text-align: center;
   width: 150px;
}
.stamp-top {
   background-color: darkred;
   border-bottom-width: 0;
   color: white;
   font-size: 16px;
}
.stamp-middle {
   font-size: 32px;
}
.stamp-bottom {
   border-top-width: 0;
   font-size: 16px;
}

.character-sheet input, .character-sheet select {
   font-size: 16px;
}
.character-sheet input[type="file"] {
   background-color: white;
}
.character-sheet, .character-sheet-explanation {
   max-width: 950px;
}
textarea {
   resize: both;
   width: 100%;
   max-width: 100%;
   height: 246px;
}
#testResults {
   width: 950px;
   height: 500px;
}
.character-sheet-defense-white > div, .character-sheet-defense-green > div {
   padding: 10px;
   text-align: center;
}
.character-sheet-defense-green > div {
   background-color: palegreen;
}
.character-sheet-defense-green > div:nth-child(odd), .character-sheet-defense-white > div:nth-child(odd) {
   font-weight: bold;
}
.character-sheet-offense-row {
   padding: 5px;
   text-align: center;
}
.character-sheet-initiative {
   background-color: palegreen;
   font-size: 24px;
   font-weight: bold;
   padding: 5px 0;
   text-align: center;
}
.character-sheet-light-green {
   background-color: palegreen;
   padding: 5px;
}
.character-sheet-section-label, .character-sheet-point-totals, .generated-class-5, .generated-class-6 {
   background-color: darkgreen;
   color: white;
   font-weight: bold;
   padding: 10px;
}
.character-sheet-hero-name {
   background-color: inherit;
   border: 0;
   padding: 0;
   font-size: 32px;
}
.character-sheet-power-level {
   font-size: 28px;
   text-align: center;
}
.character-sheet-section-label {
   font-size: 28px;
}
.character-sheet-point-totals {
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   font-size: 28px;
   text-align: center;
   display: block;  /*This is needed for point-counter since it contains spans.*/
}
.character-sheet-ability-section > .row > .green-panel-2 > div {
   font-size: 28px;
   font-weight: bold;
   text-align: center;
}
.character-sheet-ability-section {
   display: inline-block;
   margin-right: 10px;
}
.character-sheet-image-section {
   border: solid 5px darkgreen;
   display: inline-block;
}

.right-panel {
   float: right;
   margin-left: 10px;
   margin-top: 16px;
   max-width: 450px;
}

.red-panel,.green-panel {
   border: solid thin grey;
}

.green-panel-2 > h3 {
   text-align: center;
   border: none;
}

.green-panel-2 > h3 > label {
   margin-bottom: 0;
}

.red-panel > div:nth-child(odd),.green-panel > div:nth-child(odd),.green-panel-2 > h3,.character-sheet-top > div:nth-child(odd) {
   color: white;
   font-weight: bold;
   padding: 5px;
   text-decoration: none;
}

.red-panel > div:nth-child(even),.green-panel > div:nth-child(even),.green-panel-2 > div,.character-sheet-top > div:nth-child(even) {
   padding: 10px;
}

.red-panel > div:nth-child(odd) {
   background-color: darkred;
}

.red-panel > div:nth-child(even) {
   background-color: pink;
}

.green-panel > div:nth-child(odd),.green-panel-2 > h3,.character-sheet-top > div:nth-child(odd) {
   background-color: darkgreen;
}

.green-panel > div:nth-child(even),.green-panel-2 > div,.character-sheet-top > div:nth-child(even) {
   background-color: palegreen;
}

.example {
   font-style: italic;
   margin-left: 20px;
}

.info-banner {
   background-color: navajowhite;
   display: block;
   padding: 5px;
}

.condition-card-bootstrap > .row > .col-xl-4 > div {
   border: solid thin grey;
}

.condition-card-bootstrap > .row > .col-xl-4 > div > h3 {
   color: white;
   font-weight: bold;
   padding: 5px;
   background-color: darkgreen;
   text-align: center;
   text-decoration: none;
}

.condition-card-bootstrap > .row > .col-xl-4 > div > div {
   padding: 10px;
   background-color: palegreen;
   flex-grow: 1;
}

.condition-card-bootstrap > .row > .col-xl-4 > div > div > table {
   width: 100%;
}

.condition-card-bootstrap > .row > .col-xl-4 > div > div > table td {
   text-align: center;
   width: 33%;
}

.condition-card-bootstrap > .row > .col-xl-4 > div > div > table,.condition-card-bootstrap > .row > .col-xl-4 > div > div > table td {
   border-collapse: collapse;
   border: 1px inset grey;
}

.red-img-border {
   border: solid medium darkred;
   padding: 5px;
}

/*used for: what to roll ("Toughness check vs"), dice formula ("Power Check = 3dF + "), DC formula, cost formula ("Ability Cost"),
"+/-1 for bonus/penalty", "Time Rank = "*/
.generated-class-2 {
   color: darkred;
   display: block;
   font-size: 24px;
   font-weight: bold;
   text-align: center;
}

.generated-class-5 {
   font-size: 32px;
   width: 40%;
}

.generated-class-6 {
   font-size: 32px;
   text-align: center;
   vertical-align: middle;
   width: 45%;
}

.generated-class-9 {
   border-style: solid;
   border-width: 5px;
   vertical-align: middle;
   width: 150px;
}

.generated-class-12 {
   font-size: 12px;
}

.generated-class-13 {
   display: inline;
   height: 36px;
   width: 36px;
}

.generated-class-17 {
   clear: both;
}

.generated-class-19 {
   margin: 0 auto 0 auto;
   width: 400px;
}

.table-alt-rows .generated-class-22 {
   text-align: right;
}

.table-alt-rows .generated-class-27, .blue-top-th.generated-class-27 {
   text-align: left;
}

.generated-class-28 {
   width: 300px;
}

.generated-class-34 {
   width: 250px;
}

.generated-class-36 {
   text-align: center;
}
