/* Copyright 2012 Google Inc. All Rights Reserved.
Um was I allowed to copy this? Because I did then stripped most of it out (like 90%).*/

/* ========Color reference========
official colors: https://www.w3.org/TR/css3-color/

These are all of the colors used:
white (for font color against dark background)
grey (for most borders)
black (for the huge stamp border)

darkred
pink (under red)

navajowhite (under orange. info-banner)

darkgreen
palegreen (under green)

darkblue
lightskyblue (under blue. used for alt table)
*/

/* ========Font reference========
body: font-size: 16px (default);
h1: font-size: 32px (default); red (for top level) or blue box. only used for page name (or for ones that should be page names)
h2: font-size: 28px; red underline. for extras also has red top border. used for main section
h3: font-size: 20px; black underline. used for sub section (including inside a red panel) or table name
left side bar: font-size: 12px;
*/

/* TODO: more css clean up
Look into making the character sheet a single top level class. Ignore the point counter at first.
Look into single class for TOC
Look into single class for side bar (except 'closed')
Write a script to inline classes that are only used once
*/


body {
   background: url("bg-top.gif") top repeat-x;
   line-height: 1.5;
   margin: 0;
   padding: 15px 0 0 0;
}

h1 {
   background-color: darkblue;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   color: white;
   margin: 0;
   padding: 10px;
   clear: both;  /*This can be removed (along with id=) when h1 is only a page header*/
}

.page-header-red {
   background-color: darkred;
}

h2 {
   color: darkred;
   font-size: 28px;
   margin: 0;
   text-decoration: underline;
}

h3 {
   font-size: 20px;
   margin: 0;
   text-decoration: underline;
}

.power-modifier-header {
   border-bottom: solid thin darkred;
   border-top: solid thin darkred;
   text-decoration: none;
}

.table-name {
   color: darkblue;
   margin: 10px 0 10px 0;
}

td {
   vertical-align: top;
}

a:link, a:visited {
   /*Need to also have :visited so that the browser won't blue shift the color*/
   color: darkred;
   font-weight: bold;
   text-decoration: none;
}

a:hover,a:active {
   text-decoration: underline;
}

hr {
   border: 0;
   border-bottom: 1px dotted darkred;
   height: 3px;
}

ul li {
   list-style-position: outside;
   list-style-type: square;
}

ol.legal-document > li {
   list-style-type: decimal;
}

ol.legal-document > li > ol > li {
   list-style-type: lower-alpha;
}

.sites-sidebar-nav li {
   list-style: none;
   list-style-image: none;
}

.sites-sidebar-nav .expander {
   background: url("../images/arrow-down.gif") no-repeat;
   float: left;
   height: 11px;
   margin: 3px 0 0 4px;
   padding: 0 2px;
   width: 11px;
}

/*If you want to replace the arrows with unicode:
http://stackoverflow.com/questions/2701192/ascii-character-for-up-down-triangle-arrow-to-display-in-html/6325076#6325076
but you'd have to mess with font size and getting them to fit on one line

U+25B6 (Black right-pointing triangle ▶)
U+25BC (Black down-pointing triangle ▼)
U+25B7 (White right-pointing triangle ▷)
U+25BD (White down-pointing triangle ▽)
U+25B8 (Black right-pointing small triangle ▸)
U+25BE (Black down-pointing small triangle ▾)
U+25B9 (White right-pointing small triangle ▹)
U+25BF (White down-pointing small triangle ▿)
*/

.sites-sidebar-nav .closed .expander {
   background: url("../images/arrow-left.gif") no-repeat;
}

.sites-sidebar-nav {
   border-bottom: 0;
   padding-bottom: 0;
}

body .sites-sidebar-nav ul {
   margin: 0;
   padding: 0;
}

.sites-sidebar-nav .closed ul {
   display: none;
}

.sites-sidebar-nav .current-bg {
   background-color: darkred;
   color: white;
   font-weight: bold;
}

.sites-sidebar-nav .topLevel {
   border-top: 1px grey dotted;
}

.sites-sidebar-nav .nav-first {
   border-top-width: 0;
}

ol.goog-toc {
   list-style: none;
   margin-left: 10px;
   padding-left: 0;
}

div.goog-toc {
   background: url("bg-pattern.gif") repeat;
   border: 1px solid grey;
}

div.goog-toc p {
   font-size: 16px;
   font-weight: bold;
   margin: 0;
   padding: 3px 5px 0;
}

.sites-embed-align-left-wrapping-on {
   float: left;
   margin: 5px 20px 5px 0;
}

body .sites-layout-sidebar-left {
   background: url("bg-pattern.gif") repeat;
   padding: 0;
   width: 170px;
   font-size: 12px;
}

.sites-embed-content-sidebar-textbox {
   padding: 5px;
}

body .sites-layout-sidebar-left h2 {
   border-bottom: 1px dotted darkred;
   font-size: 16px;
}

body > table {
   border-spacing: 0;
   margin: 16px;
}

body > table > tbody > tr > td:nth-child(2) {
   padding-left: 16px;
}

.table-alt-rows td {
   text-align: center;
}

/*All th are under .table-alt-rows*/
th {
   background: url("bg-pattern.gif") repeat;
   padding: 3px 5px 5px;
   text-align: center;
   vertical-align: top;
}

.table-alt-rows tr:nth-child(even) {
   background-color: lightskyblue;
}

.table-alt-rows,.table-alt-rows th,.table-alt-rows td {
   border-collapse: collapse;
   border: 1px inset grey;
}

.table-alt-rows .blue-top-th {
   border-top: 8px solid darkblue;
}

.stamp-top, .stamp-middle, .stamp-bottom {
   border: solid black 5px;
   font-weight: bold;
   text-align: center;
   width: 150px;
}
.stamp-top {
   background-color: darkred;
   border-bottom-width: 0;
   color: white;
   font-size: 16px;
}
.stamp-middle {
   font-size: 32px;
}
.stamp-bottom {
   border-top-width: 0;
   font-size: 16px;
}

.character-sheet-defense-white > td, .character-sheet-defense-green > td {
   padding: 10px;
   text-align: center;
   width: 25%;
}
.character-sheet-defense-green > td {
   background-color: palegreen;
}
.character-sheet-defense-green > td:nth-child(odd), .character-sheet-defense-white > td:nth-child(odd) {
   font-weight: bold;
}
.character-sheet-offense-row {
   padding: 5px;
   text-align: center;
   width: 50%;
}
.character-sheet-initiative {
   background-color: palegreen;
   font-size: 24px;
   font-weight: bold;
   padding: 5px 0;
   text-align: center;
}
.character-sheet-light-green {
   background-color: palegreen;
   padding: 5px;
}
.character-sheet-hero-name, .character-sheet-power-level, .character-sheet-ability-label, .character-sheet-section-label, .character-sheet-point-totals, .generated-class-5, .generated-class-6 {
   background-color: darkgreen;
   color: white;
   font-weight: bold;
   padding: 10px;
}
.character-sheet-hero-name {
   font-size: 32px;
   width: 85%;
}
.character-sheet-power-level {
   font-size: 28px;
   text-align: center;
   width: 15%;
}
.character-sheet-section-label {
   font-size: 28px;
}
.character-sheet-ability-label {
   height: 50px;
   text-align: center;
   vertical-align: middle;
   width: 100px;
}
.character-sheet-ability-value {
   background-color: palegreen;
   font-size: 28px;
   font-weight: bold;
   height: 80px;
   text-align: center;
   vertical-align: middle;
   width: 100px;
}
.character-sheet-point-totals {
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   font-size: 28px;
   text-align: center;
}

.generated-class-14 {
   border-spacing: 0px;
   margin: 0px 0px 10px 0px;
   width: 100%;
}

.generated-class-11 {
   border-spacing: 5px;
   margin: 0px 0px 10px 0px;
   width: 100%;
}

.generated-class-7 {
   border: solid 5px darkgreen;
   display: block;
   text-align: center;
}

.generated-class-24 {
   border-spacing: 0px;
   margin: 10px 0px 0px 0px;
   width: 100%;
}

/*
TODO: for phone scaling and easy grids use bootstrap:
https://getbootstrap.com/docs/4.0/getting-started/introduction/
*/

.right-panel {
   float: right;
   margin-left: 10px;
   margin-top: 16px;
   width: 450px;
}

.red-panel,.green-panel {
   border: solid thin grey;
}

.red-panel > div:nth-child(odd),.green-panel > div:nth-child(odd) {
   color: white;
   font-weight: bold;
   padding: 5px;
}

.red-panel > div:nth-child(even),.green-panel > div:nth-child(even) {
   padding: 10px;
}

.red-panel > div:nth-child(odd) {
   background-color: darkred;
}

.red-panel > div:nth-child(even) {
   background-color: pink;
}

.green-panel > div:nth-child(odd) {
   background-color: darkgreen;
}

.green-panel > div:nth-child(even) {
   background-color: palegreen;
}

.example {
   font-style: italic;
   margin-left: 20px;
}

.info-banner {
   background-color: navajowhite;
   display: block;
   padding: 5px;
}

.condition-card-table td > div {
   border: solid thin grey;
   width: 500px;
   height: 700px;
   display: flex;
   flex-direction: column;
}

.condition-card-table td > div > h3 {
   color: white;
   font-weight: bold;
   padding: 5px;
   background-color: darkgreen;
   text-align: center;
   text-decoration: none;
}

.condition-card-table td > div > div {
   padding: 10px;
   background-color: palegreen;
   flex-grow: 1;
}

.condition-card-table td > div > div > table {
   width: 100%;
}

.condition-card-table td > div > div > table td {
   text-align: center;
   width: 33%;
}

.condition-card-table td > div > div > table,.condition-card-table td > div > div > table td {
   border-collapse: collapse;
   border: 1px inset grey;
}

.generated-class-0 {
   width: 50%;
}

.generated-class-1 {
   width: 100%;
}

/*used for: what to roll ("Toughness check vs"), dice formula ("Power Check = 3dF + "), DC formula, cost formula ("Ability Cost"),
"+/-1 for bonus/penalty", "Time Rank = "*/
.generated-class-2 {
   color: darkred;
   display: block;
   font-size: 24px;
   font-weight: bold;
   text-align: center;
}

.generated-class-3 {
   margin: 10px;
}

.generated-class-5 {
   font-size: 32px;
   width: 40%;
}

.generated-class-6 {
   font-size: 32px;
   text-align: center;
   vertical-align: middle;
   width: 45%;
}

.generated-class-8 {
   border: solid medium darkred;
   margin: 0 auto;
   padding: 10px 10px 5px 5px;
   width: 361px;
}

.generated-class-9 {
   border-style: solid;
   border-width: 5px;
   vertical-align: middle;
   width: 150px;
}

.generated-class-12 {
   font-size: 12px;
}

.generated-class-13 {
   display: inline;
   height: 36px;
   width: 36px;
}

.generated-class-15 {
   width: 450px;
}

.generated-class-16 {
   display: inline;
   float: right;
}

.generated-class-17 {
   clear: both;
}

.generated-class-18 {
   float: right;
   width: 400px;
}

.generated-class-19 {
   margin: 0px auto 0px auto;
   width: 400px;
}

.table-alt-rows .generated-class-22 {
   text-align: right;
}

.generated-class-23 {
   float: right;
   width: 287px;
}

.table-alt-rows .generated-class-27, .blue-top-th.generated-class-27 {
   text-align: left;
}

.generated-class-28 {
   width: 300px;
}

.generated-class-32 {
   float: right;
   margin-top: 16px;
   width: 290px;
}

.generated-class-34 {
   width: 250px;
}

.generated-class-35 {
   float: right;
   margin-top: 20px;
   width: 284px;
}

.generated-class-36 {
   text-align: center;
}
